@import "variables";
.step-2{
	h5{
		padding-top: 70px;
		margin: 0px;
		font-weight: 300;
		@media screen and (max-width: 480px){
			font-size: 20px;
			padding-top: 25px;
		}
	}
	h2{
		padding: 10px 24px 30px;
		font-weight: 300;
		@media screen and (max-width: 480px){
			font-size: 30px;
			padding: 10px 10px 28px;
		}
	}
	.frm-grp{
		max-width: 100%;
		padding: 0px;
		margin: 0px auto;
		text-align: left;
		.grp-mail{
			width: 512px;
			max-width: 100%;
			margin: 0px auto 30px;
			padding: 0px;
			@media screen and (max-width: 480px){
				margin: 0px auto 0px;
				width: 280px;
			}
			p{
				margin: 0px;
				padding: 0px;
				padding-bottom: 5px;
				@media screen and (max-width: 480px){
					font-size: 18px;
				}
			}
		}

		.grp-call{
			width: 512px;
			max-width: 100%;
			margin: 0px auto;
			padding: 0px;
			@media screen and (max-width: 480px){
				width: 280px;
			}
			p{
				margin: 0px;
				padding: 0px;
				padding-bottom: 5px;
				@media screen and (max-width: 480px){
					font-size: 18px;
					padding-top: 15px;
				}
			}
		}
	}
	
	.btn-nxt{
		width: 185px;
		max-width: 100%;
		height: 60px;
		background-color: $blue;
		border: none;
		border-radius: 6px;
		padding: 0px;
		display: block;
		margin: 79px auto 0px;
		cursor: pointer;
		text-decoration: none;
		color: $white;
		font-size: 21px;
		display: block;
		font-weight: 600;
		@media screen and (max-width: 480px){
			margin-top: 20px;
		}
	}
	.brand
	{
		padding: 85px 0px 130px 0px;
		margin: 0px;
		@media screen and (max-width: 480px){
			padding: 59px 0px;
		}
	}
}