@import "variables";
.modal-wrapper
{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($black, 0.7);
  z-index: 100;
}  
  .modal-content{
    display: none;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    moz-border-radius: 6px;
    moz-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
    webkit-background-clip: padding-box;
    webkit-border-radius: 6px;
    webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
    top: 15px;
    background-color: $white;
    width: 700px;
    max-width: 90%;
    margin: 0px auto;
    overflow-y: auto;
    .modal-header{
      border-bottom: 1px solid $gray;
      h3{
        font-size: 22px;
        color: $black-2;
        padding: 10px 20px;
        margin: 0px;
        font-weight: 600;
        display: inline-block;
      }
      .btn-cls{
        color: $black-2;
        float: right;
        margin-right: 15px;
        padding-top: 12px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .modal-body{
      h4{
        font-size: 18px;
        font-weight: 600;
        color: $black-2;
        padding: 10px 20px 0px;
      }
      p{
        font-size: 16px;
        font-weight: normal;
        color: $black-2;
        padding: 10px 20px 0px;
      }
    }
  }
