//Color

$white:			#ffffff;
$black:	 		#000000;
$black-2:  		rgba($black, 0.9);
$gray:   		rgba($black, 0.1);
$light-gray:   	rgba($black, 0.052);
$blue: 			#2293cb;

//Font

$base-font: 'Source Sans Pro';
