body {
  margin: 0px;
  padding: 0px;
  font: 300 1.25em/1.38 "Source Sans Pro";
  background-color: rgba(0, 0, 0, 0.052); }

#wrapper {
  width: 100%;
  text-align: center; }

section {
  text-align: center;
  width: 100%;
  display: inline-block; }

.inpt-box {
  width: 512px;
  max-width: 100%;
  height: 60px;
  font-size: 21px;
  display: block;
  font-weight: 300;
  margin: 0px auto;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  padding-left: 15px; }
  @media screen and (max-width: 480px) {
    .inpt-box {
      font-size: 18px;
      width: 280px;
      height: 50px; } }
  .inpt-box::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 21px; }
    @media screen and (max-width: 480px) {
      .inpt-box::-webkit-input-placeholder {
        font-size: 18px; } }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.9); }

h5 {
  font-size: 25px; }

h2 {
  font-size: 45px; }

p {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.9); }

nav {
  width: 100%;
  height: 50px; }
  nav .top-nav {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin: 0px;
    height: 50px;
    display: block; }
    nav .top-nav li {
      display: block;
      position: relative;
      float: left;
      width: 33.33%;
      height: 50px;
      text-align: center;
      cursor: pointer; }
      nav .top-nav li.active {
        background-color: #2293cb; }
        nav .top-nav li.active a {
          color: white; }
      nav .top-nav li.visited a {
        color: rgba(0, 0, 0, 0.9); }
      nav .top-nav li a {
        padding: 0px;
        font-weight: normal;
        font-size: 1.125em;
        line-height: 50px;
        text-decoration: none;
        display: block;
        color: rgba(0, 0, 0, 0.4); }
  nav .top-nav-mb {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin: 0px;
    height: 50px;
    display: none; }
    nav .top-nav-mb li {
      display: block;
      position: relative;
      float: left;
      width: 33.33%;
      height: 50px;
      text-align: center;
      cursor: pointer; }
      nav .top-nav-mb li.active {
        background-color: #2293cb; }
        nav .top-nav-mb li.active a {
          color: #fff; }
      nav .top-nav-mb li.visited a {
        color: rgba(0, 0, 0, 0.9); }
      nav .top-nav-mb li a {
        padding: 0px;
        font-weight: normal;
        display: block;
        font-size: 1.125em;
        line-height: 50px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.4); }
      @media screen and (max-width: 480px) {
        nav .top-nav-mb li {
          font-size: 18px; } }
  @media screen and (max-width: 660px) {
    nav .top-nav {
      display: none; }
    nav .top-nav-mb {
      display: block; } }

.step-1 h5 {
  padding-top: 70px;
  margin: 0px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-1 h5 {
      font-size: 20px;
      padding-top: 25px; } }
.step-1 h2 {
  padding: 10px 0px 30px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-1 h2 {
      font-size: 30px; } }
.step-1 .input-grp {
  max-width: 100%;
  padding: 0px; }
  .step-1 .input-grp p {
    font-weight: 300;
    margin: 0px;
    padding: 0px; }
    .step-1 .input-grp p:first-child {
      padding-bottom: 25px; }
    .step-1 .input-grp p:last-child {
      padding-top: 25px; }
    @media screen and (max-width: 480px) {
      .step-1 .input-grp p {
        font-size: 18px; } }
    .step-1 .input-grp p:first-child {
      padding-bottom: 15px; }
    .step-1 .input-grp p:last-child {
      padding-top: 15px; }
.step-1 .btn-nxt {
  width: 185px;
  max-width: 100%;
  height: 60px;
  background-color: #2293cb;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  padding: 0px;
  display: block;
  margin: 149px auto 0px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 21px;
  display: block; }
  @media screen and (max-width: 480px) {
    .step-1 .btn-nxt {
      margin-top: 63px; } }
.step-1 .brand {
  padding: 85px 0px 130px 0px;
  margin: 0px; }
  @media screen and (max-width: 480px) {
    .step-1 .brand {
      padding: 59px 0px; } }

.step-2 h5 {
  padding-top: 70px;
  margin: 0px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-2 h5 {
      font-size: 20px;
      padding-top: 25px; } }
.step-2 h2 {
  padding: 10px 24px 30px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-2 h2 {
      font-size: 30px;
      padding: 10px 10px 28px; } }
.step-2 .frm-grp {
  max-width: 100%;
  padding: 0px;
  margin: 0px auto;
  text-align: left; }
  .step-2 .frm-grp .grp-mail {
    width: 512px;
    max-width: 100%;
    margin: 0px auto 30px;
    padding: 0px; }
    @media screen and (max-width: 480px) {
      .step-2 .frm-grp .grp-mail {
        margin: 0px auto 0px;
        width: 280px; } }
    .step-2 .frm-grp .grp-mail p {
      margin: 0px;
      padding: 0px;
      padding-bottom: 5px; }
      @media screen and (max-width: 480px) {
        .step-2 .frm-grp .grp-mail p {
          font-size: 18px; } }
  .step-2 .frm-grp .grp-call {
    width: 512px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px; }
    @media screen and (max-width: 480px) {
      .step-2 .frm-grp .grp-call {
        width: 280px; } }
    .step-2 .frm-grp .grp-call p {
      margin: 0px;
      padding: 0px;
      padding-bottom: 5px; }
      @media screen and (max-width: 480px) {
        .step-2 .frm-grp .grp-call p {
          font-size: 18px;
          padding-top: 15px; } }
.step-2 .btn-nxt {
  width: 185px;
  max-width: 100%;
  height: 60px;
  background-color: #2293cb;
  border: none;
  border-radius: 6px;
  padding: 0px;
  display: block;
  margin: 79px auto 0px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 21px;
  display: block;
  font-weight: 600; }
  @media screen and (max-width: 480px) {
    .step-2 .btn-nxt {
      margin-top: 20px; } }
.step-2 .brand {
  padding: 85px 0px 130px 0px;
  margin: 0px; }
  @media screen and (max-width: 480px) {
    .step-2 .brand {
      padding: 59px 0px; } }

.step-3 h5 {
  padding-top: 70px;
  margin: 0px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-3 h5 {
      font-size: 20px;
      padding-top: 25px; } }
.step-3 h2 {
  padding: 10px 24px 30px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-3 h2 {
      font-size: 30px;
      padding: 10px 30px 28px; } }
.step-3 .container {
  width: 730px;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px; }
  @media screen and (max-width: 480px) {
    .step-3 .container {
      width: 280px;
      margin: 0 auto; } }
  .step-3 .container p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px; }
    .step-3 .container p:last-child {
      font-size: 17px;
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.5); }
      .step-3 .container p:last-child a {
        text-decoration: underline;
        cursor: pointer;
        color: inherit; }
    @media screen and (max-width: 480px) {
      .step-3 .container p {
        font-size: 18px; } }
  .step-3 .container .frm-grp {
    padding-left: 10px;
    text-align: left;
    float: left;
    width: 48%;
    max-width: 100%; }
    @media screen and (max-width: 480px) {
      .step-3 .container .frm-grp {
        width: 290px;
        max-width: 100%;
        margin: 0px auto 40px;
        display: block;
        float: none;
        padding: 0px; } }
    .step-3 .container .frm-grp .divider {
      width: 100%;
      border-top: 2px solid rgba(0, 0, 0, 0.1);
      margin-top: 35px; }
    .step-3 .container .frm-grp .inpt-box {
      width: 347px;
      height: 60px; }
    .step-3 .container .frm-grp .sm-input {
      width: 100%;
      height: 60px;
      font-size: 21px;
      margin: 0px auto;
      color: rgba(0, 0, 0, 0.9);
      border-radius: 5px;
      border: 1px solid #c2c2c2;
      padding-left: 15px; }
      @media screen and (max-width: 480px) {
        .step-3 .container .frm-grp .sm-input {
          font-size: 18px;
          width: 131px;
          height: 50px; } }
      .step-3 .container .frm-grp .sm-input::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-size: 21px; }
        @media screen and (max-width: 480px) {
          .step-3 .container .frm-grp .sm-input::-webkit-input-placeholder {
            font-size: 18px; } }
    .step-3 .container .frm-grp .grp-name {
      width: 100%; }
    .step-3 .container .frm-grp .grp-card {
      padding-top: 19px;
      width: 100%; }
    .step-3 .container .frm-grp .grp-exp {
      float: left;
      padding: 19px 0px 0px 0px;
      width: 46.5%;
      display: inline-block;
      margin: 0px 22px 0px 0px; }
      @media screen and (max-width: 672px) {
        .step-3 .container .frm-grp .grp-exp {
          margin: 0px 19px 0px 0px; } }
      @media screen and (max-width: 568px) {
        .step-3 .container .frm-grp .grp-exp {
          margin: 0px 18px 0px 0px; } }
      @media screen and (max-width: 480px) {
        .step-3 .container .frm-grp .grp-exp {
          width: auto;
          margin: 0px; } }
    .step-3 .container .frm-grp .grp-sec {
      padding-top: 19px;
      width: 46.5%;
      display: inline-block; }
      @media screen and (max-width: 480px) {
        .step-3 .container .frm-grp .grp-sec {
          width: auto;
          padding-left: 17px; } }
    .step-3 .container .frm-grp .btn-grp {
      display: block;
      margin: 19px 0px 0px;
      width: 100%; }
      .step-3 .container .frm-grp .btn-grp .purchase {
        width: 45%;
        height: 60px;
        font-weight: 600;
        background-color: #2293cb;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 21px;
        padding: 0px;
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
        float: left;
        cursor: pointer; }
        @media screen and (max-width: 480px) {
          .step-3 .container .frm-grp .btn-grp .purchase {
            font-size: 18px;
            width: 131px; } }
      .step-3 .container .frm-grp .btn-grp p {
        width: 45%;
        font-weight: 300;
        font-size: 30px;
        display: inline-block;
        margin: 0px;
        color: rgba(0, 0, 0, 0.9);
        padding: 0px 0px 0px 24px; }
        @media screen and (max-width: 480px) {
          .step-3 .container .frm-grp .btn-grp p {
            width: auto;
            padding-left: 17px; } }
        .step-3 .container .frm-grp .btn-grp p a {
          font-size: 19px;
          font-weight: 300;
          color: rgba(0, 0, 0, 0.9);
          display: block;
          line-height: 15px;
          text-decoration: none;
          cursor: inherit; }
  .step-3 .container .features {
    display: inline-block;
    text-align: left;
    width: 48%;
    padding-right: 10px;
    max-width: 100%; }
    @media screen and (max-width: 480px) {
      .step-3 .container .features {
        width: 290px;
        margin: 0px auto;
        padding: 0px;
        max-width: 100%; } }
    .step-3 .container .features ul {
      margin: 0px;
      padding: 0px 0px 0px 12%; }
      @media screen and (max-width: 480px) {
        .step-3 .container .features ul {
          padding: 0px; } }
      .step-3 .container .features ul:last-child {
        padding-top: 25px; }
      .step-3 .container .features ul li {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 400;
        list-style-position: inside; }
        .step-3 .container .features ul li a {
          font-size: 18px;
          text-decoration: none;
          cursor: text; }
      .step-3 .container .features ul h4 {
        font-weight: 600;
        font-size: 19px;
        margin: 0px;
        padding: 10px 0px 3px; }
        @media screen and (max-width: 480px) {
          .step-3 .container .features ul h4 {
            font-size: 19px; } }
.step-3 .brand {
  padding: 85px 0px 130px 0px;
  margin: 0px auto;
  display: block;
  clear: both; }
  @media screen and (max-width: 480px) {
    .step-3 .brand {
      padding: 59px 0px; } }

.step-4 h5 {
  padding-top: 70px;
  padding: 50px 0px 0px 0px;
  font-weight: 300;
  margin: 0px; }
  @media screen and (max-width: 480px) {
    .step-4 h5 {
      font-size: 20px;
      padding-top: 25px; } }
.step-4 .divider {
  width: 180px;
  border-bottom: 3px solid #dbdbdb;
  display: block;
  padding: 0px;
  margin: 35px auto 50px; }
  @media screen and (max-width: 480px) {
    .step-4 .divider {
      display: none; } }
.step-4 h2 {
  width: 65%;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .step-4 h2 span {
      display: block; } }
  @media screen and (max-width: 480px) {
    .step-4 h2 {
      font-size: 30px;
      padding: 25px 24px 0px;
      width: auto; } }
.step-4 p {
  width: 65%;
  max-width: 100%;
  font-size: 25px;
  margin: 0px auto;
  padding: 50px 45px; }
  @media screen and (max-width: 400px) {
    .step-4 p span {
      display: block; } }
  .step-4 p a {
    color: #2293cb;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block; }
  @media screen and (max-width: 480px) {
    .step-4 p {
      width: auto;
      font-size: 20px;
      padding: 0px 24px 45px; } }
.step-4 b {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  display: block;
  padding: 0px 0px 62px; }
  @media screen and (max-width: 480px) {
    .step-4 b {
      font-size: 20px;
      padding-bottom: 0px; } }
.step-4 .btn-nxt {
  width: 308px;
  height: 80px;
  background-color: #2293cb;
  color: white;
  border: none;
  font-weight: 400;
  border-radius: 6px;
  font-size: 25px;
  padding: 0px;
  display: block;
  margin: 50px auto 0px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .step-4 .btn-nxt {
      margin: 30px auto;
      width: 280px;
      height: 80px;
      max-width: 85%; } }
.step-4 .brand {
  padding: 0px 0px 130px 0px; }
  @media screen and (max-width: 480px) {
    .step-4 .brand {
      padding: 59px 0px; } }

.modal-wrapper {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }

.modal-content {
  display: none;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  moz-border-radius: 6px;
  moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
  webkit-background-clip: padding-box;
  webkit-border-radius: 6px;
  webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 101;
  left: 0;
  right: 0;
  top: 15px;
  background-color: white;
  width: 700px;
  max-width: 90%;
  margin: 0px auto;
  overflow-y: auto; }
  .modal-content .modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .modal-content .modal-header h3 {
      font-size: 22px;
      color: rgba(0, 0, 0, 0.9);
      padding: 10px 20px;
      margin: 0px;
      font-weight: 600;
      display: inline-block; }
    .modal-content .modal-header .btn-cls {
      color: rgba(0, 0, 0, 0.9);
      float: right;
      margin-right: 15px;
      padding-top: 12px;
      font-weight: 600;
      cursor: pointer; }
  .modal-content .modal-body h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px 0px; }
  .modal-content .modal-body p {
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px 0px; }
